{% extends 'logged_in_parent.html' %}

{% block title %}Request Contact{% endblock %}

{% block body %}

	{% if next_prospect is none %}
		Sorry, you do not have any more matches
	{% else %}
		{% set user = next_prospect %}
		<div class="row">
			{% include '_profile.html' %}
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<p class="text-center">Want to send a contact request?</p>
				<form action="{{url_for('do_contact_request')}}" method="POST">
					<input type="hidden" name="user-id" value="{{user.id}}"/>
					{% include '/match/_yes_no_buttons.html' %}
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>

	{% endif %}

{% endblock %}
