{% extends 'logged_in_parent.html' %}

{% block title %}Request Profiles{% endblock %}


{% block body %}
<div class="row">

	<!-- Left Margin -->
	<div class="col-md-4"></div>

	<div class="col-md-4">
		{% if next_prospect is none %}
			You're out of matches.  Check back later!
		{% else %}
			<!-- Prospect name and photo -->
			<div class="row text-center">
				<p>We think <b>{{next_prospect.username}}</b> might be a good match for you!</p>
				<img src="{{next_prospect.get_main_photo().get_url()}}"/>
				<p>Want to request their Profile?</p>
			</div>
			<!-- Yes/No Buttons -->
			<div class="row">
				<form action="" method="post">
					<input type="hidden" name="prospect_id" value="{{next_prospect.id}}"/>
					{% include '/match/_yes_no_buttons.html' %}
				</form>
			</div>
		{% endif %}
	</div>

	<!-- Right Margin -->
	<div class="col-md-4"></div>
</div>

{% endblock %}