{% extends 'logged_in_parent.html' %}

{% block title %}Request Profiles{% endblock %}


{% block body %}

	{% if next_prospect is none %}
		You're out of matches.  Check back later!
	{% else %}
		We think <b>{{next_prospect.username}}</b> might be a good match for you!<br/>

		<form action="" method="post">
			Request their Profile?
			<input type="hidden" name="prospect_id" value="{{next_prospect.id}}"/>
			<button type="submit" name="request_profile" value="1">Yes</button>
			<button type="submit" name="request_profile" value="0">No</button>
		</form>
	{% endif %}

{% endblock %}